.title= "Reservations for #{@campground.name}"
-form_tag '/reservations/new', :method=> :post do 

  -for campsite in @campsites
    %h2= campsite.name  
    %span.beds= "#{campsite.beds} beds"
    - reservations = campsite.reservations.for_week_of(@start_date, @end_date) 
    -if reservations.empty?
      
      %span.available="check to reserve "
      =check_box :selected_campsites, campsite.id

    -else 
      RESERVED 
  =submit_tag
       