.title
  %h1= "Campsites for #{@campground.name}"

#campgrounds
- @campground.campsites.each do |campsite|
  .field    
    %h2= campsite.name

  .field
    %label Beds
    %span.description= campsite.beds

  .field
    %label Price
    %span.description= campsite.price
  
  -if campsite.ooc_price
    .field
      %label Out of Council Price
      %span.description= campsite.ooc_price 

  %a{:href=>"/campsites/edit/#{campsite.id}"}edit
  =link_to "delete", "campsites/#{campsite.id}", :method => :delete, :confirm => "Are you sure you want to delete this campsite?"   
  
-if admin?
  - content_for :admin_nav do
    = link_to 'New Campsite', "/campgrounds/#{@campground.name}/campsites/new"